.virtual-category-settings {
  margin-bottom: 20px;
  background: var(--primary-very-low);
  padding: 15px;
  border-radius: 5px;
}

.virtual-category-settings .virtual-tags-container {
  margin-top: 10px;
  border-left: 3px solid var(--tertiary);
  padding-left: 10px;
}
